# =================== POSTGRES ===================
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=secret_password
POSTGRES_DB=markethub_db
# =================== POSTGRES ===================

# =================== BACKEND ===================
DATABASE_URL=postgresql+asyncpg://postgres_user:secret_password@db:5432/markethub_db
REDIS_URL=redis://redis:6379
JWT_SECRET_KEY=your_jwt_secret_key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7
# =================== BACKEND ===================